
h1 {
    color: dimgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: dimgray;
    position: fixed;
    left: 10pt;
    top: 100pt;
}

body.section.h2 {
    color: dimgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

body.section.article.h2 {
    color: dimgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

p {
    color: dimgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}