body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: dimgray;
}

h1 {
    margin: 0;
}

header {
    padding: 10px;
    background-color: cornflowerblue;
    width: 1000px;
    transition: width 1.5s ease-in;
}

section {
    padding: 10px;
}

footer {
    padding: 10px;
}

header:hover{
    font-size: 50px;
    width: 20px;
}

body.h1 {
    color: dimgrey;
    font-family:'Times New Roman', Times, serif;
}

body.section.h2 {
    color: dimgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

body.section.article.h2 {
    color: dimgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

p {
    color: dimgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}

